<!DOCTYPE html>
<html lang="en" xmlns:th="http://t...content-available-to-author-only...f.org">
<head>
    <meta charset="UTF-8">
    <title>BOBAXIXIXI</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
</head>   
    <style>
        body {
          background-color: #FFFBE3;
        }
        #button {
        background-color: #B7633B;
        color: white;
        border: none;
        padding: 10px 32px;
        text-align: center;
        font-size: 14px;
        border-radius: 10px;
        margin: 10px;
        
    }
    #button:hover {
        background-color: #714033;
        color: white;
    }
    </style> 
<body>
<nav th:replace="fragments/fragment :: navbar('bobaTea')"></nav>
<div class="container">
    <div class="card m-4 p-4" style = "background-color: #FFFEF5;">
        <div class="card-body">
            <div class="justify-content-center">
                <div class="d-flex justify-content-center">
                    <h1 style="font-family: 'Itim', cursive;">Update Existing Boba Tea</h1>
                </div>
                <br>
                <form th:action="@{/boba/update}" th:object="${bobaTea}" method="POST">
                    <input type="hidden" th:field="*{idBoba}" />
                    Boba Tea Name: <br>
                    <input class="form-control" type="text" name="namaBoba" th:value="*{namaBoba}"/>
                    <br><br>
 
                    Price: <br>
                    <input class="form-control" type="number" name="hargaBoba" th:value="*{hargaBoba}"/>
                    <br><br>
 
                    Size: <br>
                    <select name="sizeBoba", th:value="*{{sizeBoba}}">
                        <option value="0">S</option>
                        <option value="1">M</option>
                        <option value="2">L</option>
                    </select>
                    <br><br>
 
                    Ice Level: <br>
                    <select name="iceLevel", th:value="*{{iceLevel}}">
                        <option value="0">Less</option>
                        <option value="1">Normal</option>
                        <option value="2">Extra</option>
                    </select>
                    <br><br>

                    Sugar Level: <br>
                    <select name="sugarLevel", th:value="*{{sugarLevel}}">
                        <option value="0">Less</option>
                        <option value="1">Normal</option>
                        <option value="2">Extra</option>
                    </select>
                    <br><br>

                    Topping: <br>
                    <select name = "topping" class="form-control">
                        <option th:value="null" th:text="'No Topping'"></option>
                        <option th:each = "topping : ${listTopping}"
                            th:text="${topping.namaTopping}"
                            th:value="${topping.idTopping}"
                            >
                        </option>
                    </select>
                    <br><br>

                    <div style = "text-align: center;">
                        <button id="button" type="submit" name="save">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
 
</body>
</html>