<!DOCTYPE html>
<html lang="en" xmlns:th="http://t...content-available-to-author-only...f.org">
<head>
    <meta charset="UTF-8">
    <title>BOBAXIXIXI</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
</head> 
<style>
    body {
      background-color: #FFFBE3;
    }
</style>   
<body>
<nav th:replace="fragments/fragment :: navbar('store')"></nav>
<div class="container">
    <div class="card m-4 p-4" style = "background-color: #FFFEF5;">
        <div class="card-body">
            <div class="justify-content-center">
                <div class="d-flex justify-content-center">
                    <h1 style="font-family: 'Itim', cursive;">Update Exisiting Store</h1>
                </div>
                <br>
                <form th:action="@{/store/update}" th:object="${store}" method="POST">
                    <input type="hidden" th:field="*{idStore}" />
                    Store Name: <br>
                    <input class="form-control" type="text" name="namaStore" th:value="*{namaStore}"/>
                    <br><br>
 
                    Address: <br>
                    <input class="form-control" type="text" name="alamatStore" th:value="*{alamatStore}"/>
                    <br><br>
 
                    Open Hour: <br>
                    <input class="form-control" type="time" name="openHour" th:value="*{openHour}" />
                    <br><br>
 
                    Close Hour: <br>
                    <input class="form-control" type="time" name="closeHour" th:value="*{closeHour}" />
                    <br><br>

                    Manager: <br>
                    <select name = "manager" class="form-control">
                        <option th:each = "manager : ${listManager}"
                            th:text="${manager.namaManager}"
                            th:value="${manager.idManager}"
                            th:selected="(${manager.idManager} == *{manager.idManager})">
                        </option>
                    </select>
                    <br><br>

                    <button class="btn btn-primary" type="submit" name="save">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>
 
</body>
</html>