<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
 
<head>
    <meta charset = "UTF-8">
    <title>BOBAXIXIXI</title>
    <object th:include = "fragments/fragment :: css" th:remove="tag"></object>
    <object th:include = "fragments/fragment :: js" th:remove="tag"></object>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
</head>
<style>
    body {
      background-color: #FFFBE3;
    }
    #button {
        background-color: #B7633B;
        color: white;
        border: none;
        padding: 10px 32px;
        text-align: center;
        font-size: 14px;
        border-radius: 10px;
        margin: 10px;
        
    }
    #button:hover {
        background-color: #714033;
        color: white;
    }
</style>
<body>
<nav th:replace= "fragments/fragment :: navbar('bobaTea')"></nav>
    <div class="container">
        <div class="card m-4 p-4" style = "background-color: #FFFEF5;">
            <div class="card-body">
                <div class="justify-content-center">
                    <div class="col">
                        <br>
                        <div class="d-flex justify-content-center">
                            <h1 style="font-family: 'Itim', cursive;">List of Boba Tea</h1>
                        </div>
                        <td>
                            <a id="button" th:href="@{/boba/add/}">+ Add Boba Tea</a>
                        </td>
                        <div th:if = "*{listBobaTea.size() != 0}">
                            <table class = "table">
                                <br>
                                <thead>
                                    <tr style="background-color: #FFDCBD; text-align: center;">
                                        <th> No </th>
                                        <th> Name</th>
                                        <th> Price </th>
                                        <th> Size </th>
                                        <th> Ice </th>
                                        <th> Sugar </th>
                                        <th> Topping </th>
                                        <th></th>
                                        <th> Action </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each = "bobaTea, iterationStatus : ${listBobaTea}" style = "text-align: center;">
                                        <td th:text = "${iterationStatus.count}"></td>
                                        <td th:text = "${bobaTea.namaBoba}"></td>
                                        <td th:text = "${bobaTea.hargaBoba}"></td>
                                        <td>
                                            <div th:if="${bobaTea.sizeBoba == 0}">S</div>
                                            <div th:if="${bobaTea.sizeBoba == 1}">M</div>
                                            <div th:if="${bobaTea.sizeBoba == 2}">L</div>
                                        </td>
                                        <td>
                                            <div th:if="${bobaTea.iceLevel == 0}">Less</div>
                                            <div th:if="${bobaTea.iceLevel == 1}">Normal</div>
                                            <div th:if="${bobaTea.iceLevel == 2}">Extra</div>
                                        </td>
                                        <td>
                                            <div th:if="${bobaTea.sugarLevel == 0}">Less</div>
                                            <div th:if="${bobaTea.sugarLevel == 1}">Normal</div>
                                            <div th:if="${bobaTea.sugarLevel == 2}">Extra</div>
                                        </td>
                                        <td>
                                            <div th:if="${bobaTea.topping != null}" th:text = "${bobaTea.topping.namaTopping}"></div>
                                            <div th:if="${bobaTea.topping == null}" th:text = "'No Topping'"></div>
                                        </td>
                                        <td>
                                            <a class="btn btn-sm btn-primary" th:href="@{/boba/}+ ${bobaTea.idBoba}">View</a>
                                        </td>
                                        <td>
                                            <a class="btn btn-sm btn-primary" th:href="@{/boba/update/} + ${bobaTea.idBoba}">Update</a>
                                        </td>
                                        <td>
                                            <form th:action="@{/boba/delete/} + ${bobaTea.idBoba}" th:object="${bobaTea}" method="POST">
                                            <button class="btn btn-sm btn-danger" type="submit">Delete</a>
                                            <input type="hidden" th:value="${bobaTea.idBoba}"/>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
            
                        <div th:unless="*{listBobaTea.size() != 0}">
                            <br>
                            <div class="d-flex justify-content-center">
                                <h3 style="font-family: 'Itim', cursive;">There is no available Store to show.</h3>
                            </div>
                        </div>
                        <hr>
                    </div>
                        <br>
                        <div class="d-flex justify-content-center">
                            <a id = "button" href="/#">Back to Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <nav th:replace= "fragments/fragment :: footer('destinasi')"></nav> -->
        </body>
</html>